<section id="more-posts">
  <div class="row inner">
  	<div class="6u 12u$(small)">
        <div class="previous">
        {% if page.previous.url == null %}
            <p>Friend us on <a href="http://facebook.com/doslambosband">Facebook</a>!</p>
          {% else %}
            <p>Previous Post: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
        {% endif %}
        </div>
    </div>
  	<div class="6u$ 12u$(small)">
      <div class="next">
      {% if page.next.url == null %}
          <p>Friend us on <a href="http://facebook.com/doslambosband">Facebook</a>!</p>
        {% else %}
          <p>Next Post: <a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
      {% endif %}
      </div>
    </div>
  </div>
</section>
